.main {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  height: 90vh;
  min-width: 0px;
  width: 300px;
  border: 1px solid black;
  overflow-y: auto;
}

.maincontent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
  overflow-y: auto;
}

/* MAP */
.mapcontainer {
  height: 600px;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}

/* BUTTONS */
.btncontainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;

}

#btn {
  background-color: #7900c9;
  color: white;
}

.btncontainer button {
 
  background-color: white;
  color: #7900c9;
  border: 1px solid #7900c9;
  padding: 15px 20px;
  font-size: medium;
}

/* TEXT */
.para p {
  font-size: large;
  opacity: 0.7;
}

.para p span {
  color: #7900c9;
  opacity: 1;
}
